.navbar{
  background-color:#363156 !important;

}
.loading-container {
  background-image:linear-gradient(rgba(128, 128, 128, 0.788), rgba(100, 99, 99, 0.788));
  position: relative;
}

.spinner{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}