.navbar{
  background-color:#363156 !important;

}
.loading-container {
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.55));
  position: relative;
}

.spinner{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}